body{
    background-color: #FEF3E2;
}
header{
    color:#E07B39;
}
nav a{
    color:#FAB12F;
}
nav{
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap:20px;
}
body{
    text-align:center;
}


footer a{
    color:#AF1740;
    text-align: center;
} 
.designed a{
    color:black;
}
footer{
    bottom:0;
    position: fixed;
    text-align: center;
}
.company{
    color:rgb(37, 14, 14);
}
img{
    max-width: 280px;
    max-height:210px;
}
figcaption{
    font-style: italic;
}
.info{
    text-align:left;
}
